body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#InlineFrame1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#Shape9
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#Shape6
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#Shape7
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Shape15
{
   border-width: 0;
   vertical-align: top;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont2
{
   height: 32px;
   width: 33px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#IconFont2:hover i
{
   color: #FFFFFF;
}
#InlineFrame2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
