body
{
   background-color: #1E90FF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#InlineFrame1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#InlineFrame3
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#Shape15
{
   border-width: 0;
   vertical-align: top;
}
#Shape18
{
   border-width: 0;
   vertical-align: top;
}
#Shape19
{
   border-width: 0;
   vertical-align: top;
}
#Shape19
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape17
{
   border-width: 0;
   vertical-align: top;
}
#Shape17
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#Shape21
{
   border-width: 0;
   vertical-align: top;
}
#Shape21
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape22
{
   border-width: 0;
   vertical-align: top;
}
#Shape22
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape9
{
   border-width: 0;
   vertical-align: top;
}
#Shape9
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#Shape6
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape14
{
   border-width: 0;
   vertical-align: top;
}
#Shape14
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#Shape4
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#Shape5
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape23
{
   border-width: 0;
   vertical-align: top;
}
#Shape23
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape1
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape10
{
   border-width: 0;
   vertical-align: top;
}
#Shape10
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#Shape7
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape8
{
   border-width: 0;
   vertical-align: top;
}
#Shape8
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape11
{
   border-width: 0;
   vertical-align: top;
}
#Shape11
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape12
{
   border-width: 0;
   vertical-align: top;
}
#Shape12
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape16
{
   border-width: 0;
   vertical-align: top;
}
#Shape16
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
#Shape20
{
   border-width: 0;
   vertical-align: top;
}
#Shape20
{
   filter: drop-shadow(-3px -3px 6px rgba(0,0,0,0.20));
}
