body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Shape16
{
   border-width: 0;
   vertical-align: top;
}
#Shape16
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape13
{
   border-width: 0;
   vertical-align: top;
}
#Shape13
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape12
{
   border-width: 0;
   vertical-align: top;
}
#Shape12
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape10
{
   border-width: 0;
   vertical-align: top;
}
#Shape10
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape8
{
   border-width: 0;
   vertical-align: top;
}
#Shape8
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape11
{
   border-width: 0;
   vertical-align: top;
}
#Shape11
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#Shape7
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#Shape6
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Shape1
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#Shape4
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#Shape14
{
   border-width: 0;
   vertical-align: top;
}
#Shape14
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape15
{
   border-width: 0;
   vertical-align: top;
}
#Shape15
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Shape17
{
   border-width: 0;
   vertical-align: top;
}
#Shape17
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#Shape18
{
   border-width: 0;
   vertical-align: top;
}
#Shape18
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text50 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text50 div
{
   text-align: left;
}
#wb_Text43 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text43 div
{
   text-align: left;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_Text48 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text48 div
{
   text-align: left;
}
#wb_Text37 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text37 div
{
   text-align: left;
}
