body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#InlineFrame2
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#InlineFrame3
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#Shape11
{
   border-width: 0;
   vertical-align: top;
}
#Shape11
{
   filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.20));
}
#InlineFrame1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
